body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0;
    font-family: 'Courier New', Courier, monospace;
}
main {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    color: white;
    background-color: black;
}
.calculator {
    height: 700px;
    width: 400px;
    background-color: darkgreen;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border: 15px double black;
    padding: 20px;
    border-radius: 20px;
}

.screen {
    display: flex;
    flex-direction: column;
    height: 100px;
    width: 100%;
    background-color: white;
    border: 2px solid black;
    border-radius: 15px;;
}
.last_number, .current_number {
    height: 100%;
    width: 380px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    font-size: 30px;
    padding: 5px;
}


.btns_div {
    height: 500px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-gap: 20px;
    margin: 10px;
 
}

.btns {
    border-radius: 15px;
    border: 2px solid black;
    font-size: 22px;
    font-weight: 300;
    transition: 0.15s;
}
#clearbtn {
    grid-column-start: 1;
    grid-column-end: 3;
}
#deletebtn {
    grid-column-start: 3;
    grid-column-end: 5;
}
.btns:hover {
    background-color: grey;
}
.btns:active {
    scale: 1.1;
}

